<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildConfig</key>
	<dict>
		<key>appleID</key>
		<string></string>
		<key>bundleIdentity</key>
		<string></string>
		<key>codesigningIdentity</key>
		<string></string>
		<key>provisioningProfileName</key>
		<string></string>
		<key>teamID</key>
		<string></string>
	</dict>
	<key>uploadConfig</key>
	<dict>
		<key>apikey</key>
		<string></string>
		<key>userkey</key>
		<string></string>
		<key>password</key>
		<string></string>
	</dict>
	<key>entrancePath</key>
	<string></string>
	<key>projectName</key>
	<string></string>
	<key>projectSchemeName</key>
	<string></string>
	<key>plistRelativePath</key>
	<string></string>
	<key>codePath</key>
	<string></string>
	<key>projectRelativePath</key>
	<string></string>
	<key>exportPath</key>
	<string></string>
	<key>exportMethod</key>
	<string>TestEnterprise</string>
	<key>exportMethod选项说明</key>
	<string>TestEnterprise 测试企业包</string>
	<key>gittag</key>
	<string></string>
	<key>gitbranch</key>
	<string>dev</string>
	<key>versionNumber</key>
	<string>1.2.1</string>
	<key>buildNumber</key>
	<string>12106</string>
	<key>upload</key>
	<true/>
	<key>gittag说明</key>
	<string>设置为对应的git tag，脚本会切换到此tag打包</string>
	<key>projectRelativePath说明</key>
	<string>此目录底下应该为. xcodeproj的路径   且是相对于codePath的路径</string>
	<key>projectName说明</key>
	<string>projectName为. xcodeproj 前面部分的名称</string>
	<key>plistRelativePath说明</key>
	<string>此为相对路径，相对于projectRelativePath的info.plist的路径</string>
	<key>warning</key>
	<string>输入路径时一定要注意前后要加入 /</string>
</dict>
</plist>
